body {
    height:100vh;
    width:100vw;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    


}

div {
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius:50%;
    background-color: navy;
    gap:50px;
    background-image: url(./images/purepng.com-earthearthplanetglobethird-planet-from-the-sun-1411526987924uaycc.png);
    background-size: cover;
}

button {
       width:220px;
       height:40px;
       background-color: rgb(236, 158, 14);
       color: white;
       font-size: 20px;
       font-weight: 900;
}

h1 {
    font-size: 100px;
    color:white;
}